*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: center;
    width: 100%;
    height: 80px;
    background: #f6e3ba
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
} 

nav ul li a:hover{
    color: #a200ff;
}

.detel{
    margin: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 75px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #c402ff;
}

.detel p{
    color: #555;
    line-height: 22px; 
}

.abt{
    position: center;
    width: 100%;
    height: 155px;
    background: #f6e3ba
}

.muka{width: 25%;
    height: 50%;
    position:absolute;
    bottom: 0;
    right: 100px;}

.heading{
    text-align: center;
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 10px 10px;
    font-size: 65px;
    background: #f6e3ba
}

.box h2{
    text-align: center;
    height: 70px;
    margin-bottom: 10px;
    background: #ffffd0
}

.columns{
    text-align: center;
}

.glry{
  position: center;
  width: 100%;
  height: 80px;
  background: #f6e3ba
} 

.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .gallery img{
    width: 490px;
    height: 330px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
  }
  .gallery img:hover{
    background-color: rgb(151, 0, 252);
    cursor: pointer;
  }
  
  .gallery{
      display: flex;
      justify-content: center;
      align-items: center;
  }
